
/*paystack-dropDown*/
.paystack-dropDown{
	position: fixed;
	z-index: 2500;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	padding: 40px;
}
@media screen and (max-width:1000px){
	.paystack-dropDown{
		padding: 20px !important;
	}
}
.show-paystack-dropDown.paystack-dropDown{
	display: flex;
}

.paystack-dropDown-body{
	position: inherit;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -100;
	background: rgba(0, 0, 0, 0.8);
}

.paystack-dropDown-main{
	position:relative;
	right: 0;
	width:80%;
	height: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
}
@media screen and (max-width:1000px){
	.paystack-dropDown-main{
		width: 100% !important;
	}
}
@media screen and (max-width:550px){
	.paystack-dropDown-main{
		display: flex !important;
		flex-direction: column;
		align-items: center;
	}
	.close-paystack-dropDown{
		margin-bottom: 10px !important;
	}
}
.close-paystack-dropDown{
	outline: none !important;
	border:none;
	background: transparent;
	cursor: pointer;
	font-size: 15px;
	color: #ffffff;
	background: rgba(255,255,255,0.3);
	width: 35px;
	height: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 3px;
}
.close-paystack-dropDown i{
	display: inline-flex;
	transition: all 0.2s ease-in-out;
}
.close-paystack-dropDown:hover i{
	transform: rotate(90deg);
}


.paystack-dropDown-box{
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: #ffffff;
	padding: 30px;
}

/*ht-sec*/
.ht-sec{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100vh;
	z-index: 2;
	padding-top: 100px;
	margin-bottom: 30px;
}
@media screen and (max-width:700px){
	.ht-sec{
		padding-top: 30px !important;
	}
}
.ht-sec:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 550px;
	z-index: -2;
	background: linear-gradient(65.65deg, #7E4FFF 1.23%, rgba(127, 192, 226, 0.73) 100%),url(../img/payment-banner.png);
	background-position:top  center;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	padding-top: 30px;
}

.ht-sec-main{
	position: relative;
	width: 500px;
	height:auto;
	padding: 20px;
	border-radius: 10px;
	background-color:#ffffff;
	-webkit-box-shadow: rgb(199 196 218 / 40%) 20px 20px 100px;
    -moz-box-shadow: rgb(199 196 218 / 40%) 20px 20px 100px;
    box-shadow: rgb(199 196 218 / 40%) 20px 20px 100px;
}
@media screen and (max-width:700px){
	.ht-sec-main{
		width: 100% !important;
	}
}
.ht-sec-main-header{
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #EDEDED;
}
.ht-sec-main-header h3{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 500;
}
@media screen and (max-width:330px){
	.ht-sec-main-header h3{
		font-size: 14px !important;
	}
}
.ht-sec-main-optionBtn{
	position: relative;
	width: 100%;
	height: auto;
}
.ht-sec-main-optionBtn ul{
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
.ht-sec-main-optionBtn ul li{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	cursor: pointer;
	user-select: none;
	font-size: 15px;
	font-weight: 500;
	white-space: nowrap;
}
.bank-pmt-btn{
	background: #ECEEF5;
}
@media screen and (max-width:400px){
	.ht-sec-main-optionBtn ul li{
		font-size: 13px !important;
	}
}
@media screen and (max-width:270px){
	.ht-sec-main-optionBtn ul li{
		padding: 10px 10px !important;
	}
}


.bank-dlt-sec{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 30px;
}
@media screen and (max-width:1100px){
	.bank-dlt-sec{
		margin-top: 0px !important;
	}
}
.bank-dlt-sec-t{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
}

.bank-dlt-sec-t-1{
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.bank-dlt-sec-t-1-main{
	position: relativer;
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 10px;
	background: #ffffff;
	-webkit-box-shadow: 0px 40px 100px 10px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 40px 100px 10px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 40px 100px 10px rgba(0, 0, 0, 0.06);
}
.bank-dlt-header{
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 5px 0px;
}
.bank-dlt-header span{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 35px;
	height: 35px;
	background: #7E4FFF;
	border-radius: 7px;
	margin-right: 10px;
	margin-top: 5px;
}
.bank-dlt-header span img{
	max-width: 50%;
}
.bank-dlt-sec-t-2-main .bank-dlt-header span{
	background:#FF881B;
}
.cart-summary .bank-dlt-header span{
	background:#FFC83E;
}
.bank-dlt-sec-t-2-main .bank-dlt-header span img{
	max-width: 65%;
}
.bank-dlt-header p{
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bank-dlt-sec-t-2-main .bank-dlt-header p{
	width: 100%;
}
@media screen and (max-width:500px){
	.bank-dlt-header p{
		flex-direction: column !important;
		justify-content: center !important;
		align-items: flex-start !important;
	}
}
.bank-dlt-header p a{
	font-size: 14px;
	font-weight: normal;
	color: #7E4FFF;
	text-decoration: underline;
}

/*bank-dlt-info*/
.bank-dlt-info{
	position: relative;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	display: block;
}

.bank-dlt-info ul{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
.bank-dlt-info ul li{
	position: relative;
	width: 100%;
	height: auto;
}

.bank-dlt-info ul .bank-num{
	border:1px solid #7E4FFF;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 5px;
	margin-bottom: 10px;
	justify-content: space-between;
	padding-right: 5px;
}
@media screen and (max-width:300px){
	.bank-dlt-info ul .bank-num{
		letter-spacing: 0px !important;
		font-size: 15px !important;
	}
}
.bank-dlt-info ul .bank-instr{
	color: #B1B1B1;
}
.bank-dlt-info ul .bank-num button{
	padding: 0;
	margin: 0;
	width: 35px;
	height: 35px;
	outline: none;
	border:none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 3px;
	background: #F7F7F7;
	transition: all 0.3s ease-in-out;
}
.bank-dlt-info ul .bank-num button img{
	max-width: 80%;
}
.bank-dlt-info ul .bank-num button:hover{
	background: #EFEFEF;
}




.bank-dlt-sec-t-1{
	position: relative;
	width: 100%;
	height: auto;
}

.bank-dlt-sec-t-2-main{
	position: relativer;
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 10px;
	background: #ffffff;
	border:1px solid #F5F5F5;
}

.bank-dlt-info-2{
	position: relative;
	width: 100%;
	height: auto;
	padding: 10px 0px;
}
.bank-dlt-info-2 ul{
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
@media screen and (max-width:500px){
	.bank-dlt-info-2 ul{
		display: block !important;
	}
	.bank-dlt-info-2 ul li:nth-child(1){
		margin-bottom: 10px !important;
	}
}

.bank-dlt-info-2 ul li{
	position: relative;
	width: 100%;
	border:1px solid #F5F5F5;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bank-dlt-info-2 ul li span{
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 100%;
	width: auto;
	padding-right: 10px;
	margin-right: 10px;
	border-right:1px solid #F5F5F5;
	color: #B1B1B1;
}
@media screen and (max-width:350px){
.bank-dlt-info-2 ul li span{
	display: none !important;
}
}
.bank-dlt-info-2 p{
	font-weight: 500;
}
.bank-dlt-info-2 p span{
	font-weight: normal;
	font-size: 14px !important;
	color: #B1B1B1;
}

/*proof-header*/
.proof-header{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.proof-header p{
	font-size: 18px !important;
}
.proof-header-btn{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: flex;
	align-items: center;
	border-top: 1px solid #ECECEC;
}
.proof-header-btn span{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    outline: none;
    background: transparent;
    outline: none !important;
    border:none;
}

.active-akkBtn{
    background: #ECEEF5 !important;
}
.hash-input{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: none;
}
.hash-input input{
	    position: relative;
    width: 100%;
    height: 45px;
    padding: 10px;
    outline: none;
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    margin-top: 7px;
}
.hash-input input:focus{
	border-color: #000000;
}
.hash-input input::placeholder{
	color:#B1B1B1;
}
.active-gab{
	display: block !important;
}
/*picture-display*/
.picture-display{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: none;
}

#file-upload{
	display: none;
}

.picture-content{
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 20px;
}
@media screen and (max-width:320px){
	.picture-content{
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 10px !important;
		grid-gap: 10px !important;
	}
}
.pic-main{
	position: relative;
	width: 80px;
	height: 80px;
	background: #F5F7FA;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}
.pic-main i{
	font-size: 20px;
	color: #7E4FFF;
}
.pic-main-p{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
}
.pic-main-p p{
	font-size: 14px !important;
}
.pic-main-p span{
	color: #B1B1B1;
}

.pic-main img{
	position: absolute;
	width: 105%;
	height: 105%;
	border-radius: inherit;
	object-fit: cover;
	object-position: center center;
	z-index: 2;
}

/*checkout-mainButton-sec*/
.checkout-mainButton-sec{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.checkout-mainButton-sec .checkout-mainButton{
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 55px;
	justify-content: center;
	text-align: center;
	outline: none;
	border:none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	background: #7E4FFF;
	color:#ffffff;
	-webkit-box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px;
	-moz-box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px;
    transition: all 0.3s ease-in-out;
}
.checkout-mainButton-sec .checkout-mainButton:hover{
    background:#5E20FF;
}

/*site-footer*/
.site-footer{
	padding: 0px 0px !important;
}
