/*main-sec*/
.main-sec{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 500px;
}

/*sec-table*/
.sec-table{
    position: relative;
    width: 100%;
    height: auto;
    margin-top:20px;
    background: #ffffff;
        border-radius: 0.625rem;
    -webkit-box-shadow: 6px 11px 41px -28px #a99de7;
    -moz-box-shadow: 6px 11px 41px -28px #a99de7;
    box-shadow: 6px 11px 41px -28px #a99de7;
    padding: 20px;
    overflow-x: auto;
}

/*rev-card*/
.rev-card{
    position: relative;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 20px;
    border-top: 1px solid #e1e8ed;
}
.rev-card:first-child{
    border-top: 0px;
}
.card-dltrr{
    position: relative;
    padding:10px 0px;
    width: 100%;
    height: auto;
}
.card-dltrr p{
    margin: 0;
    padding: 8px 0px;
    font-size: 15px;
}

.card-dltrr-flexed{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns:20px 1fr;
    grid-gap:5px;
}

.mmt{
    position: relative;
    width: 100%;
    height: auto;
}
.mmt i{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.mmt i:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: linear-gradient(230deg, #ffc480, #ff763b);
    border-radius: 50%;
    top: -1px;
    right: -1px;
}

.card-dltrr span{
    display: block;
    position: relative;
    padding: 10px 10px;
    text-align: right;
    font-size: 13px;
    border-top: 1px solid #e1e8ed;
    margin-top: 20px;
    color:#6d728b;
}

.card-dltrr span button{
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 25px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    outline: none !important;
    border: 1px solid #652BFF;
    margin-left: 10px;
    color:#652BFF;
    background-color: transparent;
    cursor: pointer;
}

.yt-btn{
    margin-top: 10px;
}
.yt-txt{
    overflow: hidden;
}
.yt-txt p{
     display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lst-msg{
    font-size:14px !important;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


